* {
    box-sizing: border-box;
  }
  
body {
  font-family: sans-serif;
}

input, 
textarea,
[contenteditable] {
  font: inherit;
  line-height: 1.5;
  /* width: 600px; */
  padding: 8px 12px;
  overflow: auto;
}

input {
  width: 600px;
}
  
textarea {
  width: 100%;
}

label {
display: block;
margin-bottom: 4px;
}
  
[contenteditable] {
height: 10rem;
border: 1px solid;
resize: vertical;
}
  
.react-calendar-heatmap .color-scale-1 { fill: #37d147; }
.react-calendar-heatmap .color-scale-2 { fill: #3fad59; }
.react-calendar-heatmap .color-scale-3 { fill: #2f6d2d; }

.navbar {
  display: flex;
  background-color: #333;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #555;
}

.navbar a.active {
  background-color: #4CAF50;
}